* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ol {
    list-style-type: none;
}

.header {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-around;
    background-color: #ECE0B5;
    padding: 20px;
    align-items: center;
    align-self: center;
}

.header-logo {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.logo-text {
    color: #44944A;
    font-family: "Montserrat Alternates";
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* .input-container {} */

.input-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input-container__loop {
    position: absolute;
    z-index: 10;
    top: 10%;
    left: 1rem;
}

.input-container__input-search {
    width: 600px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 20px;
    background: rgba(254, 255, 239, 0.80);
    border: 0px;
    outline: none;
    font-size: 20px;
    padding-left: 3rem;
    font-family: Montserrat;
}

.header-menu {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}

.menu-items {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    margin: 0;
}

.menu-item {
    color: #44944A;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.menu__user-button {
    color: #44944A;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: 2px solid #44944A;
    background: rgba(217, 217, 217, 0.00);
    padding: 0 10px;
    cursor: pointer;
}

.carousel-item-1 {
    position: relative;
}

.carousel-item__title-container {
    display: flex;
    align-items: center;
    padding-left: 4rem;
    position: absolute;
    bottom: 18%;
    left: 0;
    width: 623.934px;
    height: 105px;
    flex-shrink: 0;
    border-radius: 0px 20px 20px 0px;
    background: rgba(68, 148, 74, 0.90);
}

.carousel-item__title {
    width: 646.892px;
    height: 77.833px;
    flex-shrink: 0;
    color: #FFF;
    font-family: "Montserrat Alternates";
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 5px;
}